<div id="content">
  <div id="logo">
    <h1><img width="100" style="vertical-align: bottom;" src="../../../assets/images/logo.png"> IDove</h1>
  </div>

  <form action="http://localhost:8080/" method="GET">
    <div>
      <input pKeyFilter="alphanum" type="text" placeholder="Login" name="username" [(ngModel)]="username" required="required">

      <input type="password" placeholder="Hasło" name="password" [(ngModel)]="password" required="required">

      <!--<input promptLabel="Wpisz hasło" weakLabel="Słabe" mediumLabel="Średnie" strongLabel="Silne" pPassword type="password"
             [(ngModel)]="password" placeholder="Hasło"/>

             <p-message severity="info" text="PrimeNG Rocks"></p-message>
-->
      <input id="emailField" type="email" placeholder="E-mail" name="email" [(ngModel)]="email" (keyup)="isValid()" required="required">

        <input pKeyFilter="alpha" type="text" placeholder="Imię" name="firstName" [(ngModel)]="firstName" required="required">
      <input pKeyFilter="alpha" type="text" placeholder="Nazwisko" name="lastName" [(ngModel)]="lastName" required="required">

      <input pKeyFilter="alphanum" type="text" placeholder="Adres" name="adress" [(ngModel)]="address" required="required">
      <input pKeyFilter="alpha" type="text" placeholder="Miejscowość" name="city" [(ngModel)]="city" required="required">
      <input pKeyFilter="num" type="text" placeholder="Nr telefonu" name="telephoneNumber" [(ngModel)]="telephoneNumber" required="required">
    </div>
    <input type="submit" class="btn btn-primary" value="Zarejestruj" (click)="register()">
    <button type="button" class="btn btn-outline-secondary" routerLink="/login">Cofnij</button>
  </form>
</div>
