<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2Nw_J4hIx8yGvQN5DDhRuoP_0oNt_FPc&callback=initMap"
        type="text/javascript">

</script>
<div *ngIf="!this.dovecote.confirm">
  <div *ngIf="this.user.getIdDovecote()==null; then nodov else dov"></div>
  <ng-template #nodov>
    <button type="button" class="btn btn-primary" (click)="enableAdding()">Dodaj gołębnik</button>
  </ng-template>
  <ng-template #dov>
    <button type="button" class="btn btn-primary" (click)="enableEditing()">Edytuj gołębnik</button>
  </ng-template>
</div>
<p-dialog header="Dodawanie gołębnika" [(visible)]="isAdding" [contentStyle]="{'width':'500px'}" [modal]="true">
  <div style="width: 100%; float: left">
    <input pKeyFilter="alphanum" type="text" pInputText [(ngModel)]="dovecote.adrdress" placeholder="Adres"/><br>
    <input pKeyFilter="alpha" type="text" pInputText [(ngModel)]="dovecote.city" placeholder="Miejscowość"/><br>
    <span>Współrzędne geograficzne gołębnika</span><br>
    <p-inputMask [(ngModel)]="dovecote.longtitude" mask="99.999999" placeholder="Długość"></p-inputMask>
    <p-inputMask [(ngModel)]="dovecote.latitude" mask="99.999999" placeholder="Szerokość"></p-inputMask>
    <button type="button" class="btn btn-primary" (click)="addDovecote()">Dodaj gołębnik</button>
  </div>
</p-dialog>
<p-dialog header="Edycja gołębnika" [(visible)]="isEditing" [contentStyle]="{'width':'500px'}" [modal]="true">
  <div style="width: 100%; float: left">
    <input pKeyFilter="alphanum" type="text" pInputText [(ngModel)]="dovecote.adrdress" placeholder="Adres"/><br>
    <input pKeyFilter="alpha" type="text" pInputText [(ngModel)]="dovecote.city" placeholder="Miejscowość"/><br>
    <span>Współrzędne geograficzne gołębnika</span><br>
    <p-inputMask [(ngModel)]="dovecote.longtitude" mask="99.999999" placeholder="Długość"></p-inputMask>
    <p-inputMask [(ngModel)]="dovecote.latitude" mask="99.999999" placeholder="Szerokość"></p-inputMask>
    <button type="button" class="btn btn-primary" (click)="editDovecote()">Edytuj gołębnik</button>
  </div>
</p-dialog>

<div>
  {{dovecote.city}}
  {{dovecote.adrdress}}
  {{dovecote.latitude}}
  {{dovecote.longtitude}}
  <div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker *ngFor="let m of markers;" [latitude]="m.lat" [longitude]="m.lng">
        <agm-info-window>
          <span style="margin-left: auto; margin-right: auto;"><strong>Twój gołębnik</strong></span><br>
          <span>{{m.label}}</span>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <!--<p-gmap [options]="options" [style]="{'width':'100%','height':'320px'}" ></p-gmap>-->
  </div>
</div>
