<p-dataView [value]="sortedFancierList" [emptyMessage]="'Pusto :('" [loading]="this.calculator.isLoading">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-6 ui-md-4 filter-container">
          <p-dropdown [options]="sectionList" [(ngModel)]="selectedSection" (onClick)="getSectionList()" (onChange)="onSortChange(selectedSection)"
                      placeholder="Wybierz sekcję" [showClear]="true" [style]="{'width':'200px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>

  <ng-template let-fancier pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-8 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Imię i nazwisko:</div>
          <div class="ui-g-10 ui-sm-6"><b>{{fancier.user.firstName}} {{fancier.user.lastName}}</b></div>

          <div class="ui-g-2 ui-sm-6">Sekcja:</div>
          <div class="ui-g-10 ui-sm-6"><b>{{fancier.section.name}}</b></div>

        </div>
      </div>
      <div class="ui-g-12 ui-md-2 search-icon">
        <button pButton type="button" icon="pi pi-home" (click)="selectDovecote($event, fancier)" ></button>
        <button pButton type="button" icon="pi pi-chevron-right" (click)="selectPigeons($event, fancier)" ></button>
      </div>
    </div>
  </ng-template>

  <ng-template let-fancier pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="fancier.user.firstName +' '+ fancier.user.lastName" [style]="{'text-align':'center'}">
        <div class="car-detail">{{fancier.section.name}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-home" (click)="selectDovecote($event, fancier)"
                style="margin-top:0"></button>
        <button pButton type="button" icon="pi pi-chevron-right" (click)="selectPigeons($event, fancier)"
                style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="Weryfikacja gołębnika" [(visible)]="isDovecoteVerify" [modal]="true"
          [contentStyle]="{'width':'600px','height':'600px'}">
  <div style="width: 100%; float: left; margin-bottom: 20px;text-align:center">
    <span>Miejscowość: {{this.selectedDovecote.city}}</span><br>
    <span>Adres: {{this.selectedDovecote.adrdress}}</span><br>
    <span>Szerokość: {{this.selectedDovecote.latitude}}</span><br>
    <span>Długość: {{this.selectedDovecote.longtitude}}</span><br>
    <div *ngIf="this.selectedDovecote.confirm; else nc">Status <i class="pi pi-check"></i></div><br>
    <ng-template #nc>
      <span>Status <i class="pi pi-times"></i></span><br>
      <span>Uwaga, po potwierdzeniu nie można zmienić danych</span><br>
      <button (click)="confirmDovecote()">Potwierdż dane gołębnika</button>
    </ng-template>


  </div>
</p-dialog>

<p-dialog header="Weryfikacja gołębi"  [(visible)]="isPigeonsVerify" [modal]="true"
          [contentStyle]="{'width':'1200px','height':'900px'}">
  <div style="width: 100%; float: left; margin-bottom: 20px;">
    <p-table [value]="selectedPigeons">
      <ng-template pTemplate="header">
        <tr>
          <th>Nr obrączki</th>
          <th>Kolor</th>
          <th>Płeć</th>
          <th style="width: 120px">Potwierdzony</th>
          <th style="width: 60px;">Akcje</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pigeon>
        <tr>
          <td>{{pigeon.ringNumber}}</td>
          <td [ngSwitch]="pigeon.idColor">
            <span *ngSwitchCase="1">NIEB</span>
            <span *ngSwitchCase="2">NNAK</span>
            <span *ngSwitchCase="3">CIEM</span>
            <span *ngSwitchCase="4">CZER</span>
            <span *ngSwitchCase="5">PLOW</span>
            <span *ngSwitchCase="6">CZAR</span>
            <span *ngSwitchCase="7">SZPA</span>
            <span *ngSwitchCase="8">CZEN</span>
            <span *ngSwitchCase="9">CNAK</span>
            <span *ngSwitchCase="10">BIAL</span>
            <span *ngSwitchCase="11">NIEP</span>
            <span *ngSwitchCase="12">NNAP</span>
            <span *ngSwitchCase="13">CIEP</span>
            <span *ngSwitchCase="14">CZEP</span>
            <span *ngSwitchCase="15">PLOP</span>
            <span *ngSwitchCase="16">CZAP</span>
            <span *ngSwitchCase="17">SZPP</span>
            <span *ngSwitchCase="18">CZNP</span>
            <span *ngSwitchCase="19">CNAP</span>
            <span *ngSwitchCase="20">CZES</span>
          </td>
          <td><span *ngIf="pigeon.sex">Samiec</span><span *ngIf="!pigeon.sex">Samica</span></td>
          <td>
            <span *ngIf="pigeon.confirm"><i class="pi pi-check"></i></span><span *ngIf="!pigeon.confirm"><i class="pi pi-times"></i></span>
          </td>
          <td>
            <button *ngIf="!pigeon.confirm" style="vertical-align: middle" class="btn btn-outline-dark btn-sm" (click)="confirmPigeon(pigeon)"><i
              class="pi pi-check"></i></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>


