<p-dataView [value]="sectionsList" [emptyMessage]="'Pusto :('" [loading]="this.calculator.isLoading">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div>
          <button class="container" (click)="enableAddingSection()"  type="button" class="btn btn-primary">Dodaj sekcje</button>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <span>Oddział: {{this.calculator.branch.name}}</span>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>

  <ng-template let-section pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-8 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Nazwa: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{section.name}}</b></div>

          <div class="ui-g-2 ui-sm-6">Oddział: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{this.calculator.getBranchName()}}</b></div>

        </div>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="pi pi-search" (click)="selectSection($event, section)"></button>
      </div>
    </div>
  </ng-template>

  <ng-template let-section pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="section.name" [style]="{'text-align':'center'}">
        <div class="car-detail">{{this.calculator.getBranchName()}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-search" (click)="selectSection($event, section)" style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="Dodawanie sekcji do odziału  {{this.calculator.getBranchName()}}" [(visible)]="isAdding" [contentStyle]="{'width':'400px'}" [modal]="true">
  <div style="width: 100%; float: left">
    <label >Nazwa:</label>
    <input type="text" class="form-control" id="brnum"   [(ngModel)]="sectionName">
    <button class="btn btn-primary" (click)="addSection()">Dodaj sekcję</button>
  </div>
</p-dialog>

<p-dialog header="Sekcja " [(visible)]="isInfo" [contentStyle]="{'width':'400px'}" [modal]="true">
  <div style="width: 100%; height: 200px;float: left">
    <label >Nazwa:</label>
    <span>{{selectedSection.name}}</span><br>
  </div>
</p-dialog>

