<div>
  <div class=row>
    <div class=col-4>
      <label>Kraj:</label>
    </div>
    <div class=col-8>
      <p-autoComplete pKeyFilter="alpha" [size]="39" [(ngModel)]="selectedCountry" field="shortcut" [suggestions]="filteredCountries"
        (completeMethod)="searchCountries($event)" [minLength]="1"></p-autoComplete>
    </div>
  </div>
  <br>
  <div class=row>
    <div class=col-4>
      <label>Kolor:</label>
    </div>
    <div class=col-8>
      <p-dropdown [style]="{'width':'303px'}" [options]="colors" [(ngModel)]="idColor" ></p-dropdown>
    </div>
  </div>
  <br>
  <div class=row>
    <div class=col-4>
      <label>Oddział:</label>
    </div>
    <div class=col-8>
      <input pKeyFilter="num" type="text" class="form-control" id="brnum" [(ngModel)]="branchNumber">
    </div>
  </div>
  <br>
  <div class=row>
    <div class=col-4>
      <label>Rok:</label>
    </div>
    <div class=col-8>
      <input pKeyFilter="num" type="text" class="form-control" id="year" [(ngModel)]="yearbook">
    </div>
  </div>
  <br>
  <div class=row>
    <div class=col-4>
      <label>Numer:</label>
    </div>
    <div class=col-8>
      <input pKeyFilter="num" type="text" class="form-control" id="num" [(ngModel)]="number">
    </div>
  </div>
  <br>
  <div class=row>
    <div class=col-4>
      <label>Płeć:</label>
    </div>
    <div class=col-8>
      <p-selectButton [options]="sexChoose" [(ngModel)]="sex"></p-selectButton>
    </div>
  </div>
  <br>
  <div class=row>
    <div class=col-4>
      <span>Typowanie</span>
    </div>
    <div class=col-8>
      <div class=row>
        <div class=col-4>
          <label>GMP:</label>
          <p-checkbox id="isGMP" [(ngModel)]="isGMP"></p-checkbox>
        </div>
        <div class=col-4>
          <label>MP:</label>
          <p-checkbox id="isMP" [(ngModel)]="isMP"></p-checkbox>
        </div>
        <div class=col-4>
          <label>IMP:</label>
          <p-checkbox id="isIMP" [(ngModel)]="isIMP"></p-checkbox>
        </div>
      </div>

    </div>
  </div>
  <br><br>
  <div *ngIf="isAdding">
    <button style="float: right;" class="container" (click)="add()" type="button" class="btn btn-primary">Dodaj</button>
  </div>
  <div *ngIf="!isAdding">
    <button style="float: right;" class="container" (click)="edit()" type="button" class="btn btn-primary">Edytuj</button>
  </div>
</div>
