<div class=container-fluid>
  <header>
    <div *ngIf="this.userService.isUserLogged()">
      <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <h1 class="navbar-brand"> IDove</h1>
        <h3 class="navbar-brand mr-auto">Witaj, {{userService.getFirstname()}} {{userService.getLastname()}}</h3>
        <button class="btn btn-outline-light" type="button" (click)="logout()">Wyloguj</button>
      </nav>
    </div>
    <div></div>
  </header>
  <main>
    <div class="row no-gutters">
      <div *ngIf="this.userService.isUserLogged()" class="col-md-3">
        <app-menu></app-menu>
      </div>
      <div class="col-12" [ngClass]="{'col-md-9':this.userService.isUserLogged()}">
        <p-growl [(value)]="this.popup.msgs"></p-growl>
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>
