<div class=bg-second>
  <div class="row right">
    <button type="button" class="btn btn-primary" (click)="enableAdding()">Dodaj gołębie</button>
    <button type="button" class="btn btn-primary" (click)="exportList()">Eksportuj CSV</button>
  </div>
  <p-dialog header="Dodawanie gołębia" [(visible)]="isAdding" [contentStyle]="{'width':'500px'}" [modal]="true">
    <div>
      <app-addpigeon [countries]="countriesList" (closeDialog)="closeDialogReceive($event)" ></app-addpigeon>
    </div>
  </p-dialog>
  <p-confirmDialog header="Potwierdzenie" icon="pi pi-exclamation-triangle" width="400px" >
    <div></div>
  </p-confirmDialog>

  <div style="margin-left:10px" class="table-responsive row">
    <p-table [value]="pigeonList">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:5%">Nr.</th>
          <th style="width:40%">Numer obrączki</th>
          <th style="width:15%">Płeć</th>
          <th style="width:10%">Barwa
          <th style="width:10%;">Kod barwy</th>
          <th style="width: 6%">Zatw.</th>
          <th style="width: 104px;">Akcje</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pigeon>
        <tr>
          <td style="width: 50px"> </td>
          <td>{{pigeon.ringNumber}}</td>
          <td><span *ngIf="pigeon.sex">Samiec</span><span *ngIf="!pigeon.sex">Samica</span></td>
          <td [ngSwitch]="pigeon.idColor">
            <span *ngSwitchCase="1">NIEB</span>
            <span *ngSwitchCase="2">NNAK</span>
            <span *ngSwitchCase="3">CIEM</span>
            <span *ngSwitchCase="4">CZER</span>
            <span *ngSwitchCase="5">PLOW</span>
            <span *ngSwitchCase="6">CZAR</span>
            <span *ngSwitchCase="7">SZPA</span>
            <span *ngSwitchCase="8">CZEN</span>
            <span *ngSwitchCase="9">CNAK</span>
            <span *ngSwitchCase="10">BIAL</span>
            <span *ngSwitchCase="11">NIEP</span>
            <span *ngSwitchCase="12">NNAP</span>
            <span *ngSwitchCase="13">CIEP</span>
            <span *ngSwitchCase="14">CZEP</span>
            <span *ngSwitchCase="15">PLOP</span>
            <span *ngSwitchCase="16">CZAP</span>
            <span *ngSwitchCase="17">SZPP</span>
            <span *ngSwitchCase="18">CZNP</span>
            <span *ngSwitchCase="19">CNAP</span>
            <span *ngSwitchCase="20">CZES</span>
          </td>
          <td>
            <span>{{pigeon.idColor}}</span>
          </td>
          <td>
            <span *ngIf="pigeon.confirm"><i class="pi pi-check"></i></span><span *ngIf="!pigeon.confirm"><i class="pi pi-times"></i></span>
          </td>
          <td>
            <div *ngIf="!pigeon.confirm" style=" background-color:white; float: left;">
              <button style="vertical-align: middle" class="btn btn-outline-secondary btn-sm" (click)="enableEdit(pigeon)"><i
                  class="pi pi-pencil"></i></button>
              <button style="vertical-align: middle" class="btn btn-outline-dark btn-sm" (click)="confirmDelete(pigeon)"><i
                  class="pi pi-times"></i></button>
            </div>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
