body .ui-panelmenu .ui-panelmenu-content {
  padding: 0;
  border: none;
  margin-top: 0;
  border-top: 0 none;
}

body .ui-panelmenu .ui-panelmenu-header > a {
  border: none;

}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
  border: none;
  background-color: #007bff;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover{
  border: none;
  background-color: #007bff;

}

body .ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) > a:hover {
  outline: 0 none;
  border: none;

}

body .ui-panelmenu .ui-menu-separator {
  border: none;
}
