<div>
  <div>
    <p-panelMenu [model]="items" [multiple]="false"></p-panelMenu>
    <div *ngIf="user.isFancier()">
      <p-panelMenu [model]="itemsFancier"></p-panelMenu>
    </div>
    <div *ngIf="user.isCalculator()">
      <div *ngFor="let branch of itemsCalculator">
        <div>
          <p-panelMenu [model]="branch"></p-panelMenu>
        </div>
      </div>
    </div>
  </div>
</div>
