<div class="bg-second">
  <h5>Dane użytkownika</h5>
  <div class="row">
    <div class="col-6 col-sm-4 left">

      <span>Login: </span><br>
      <span>Email: </span><br>
      <span>Imię: </span><br>
      <span>Nazwisko: </span><br>
      <span>Adres: </span><br>
      <span>Miasto: </span><br>
      <span>Telefon: </span><br>
      <span>Ostatnio zalogowany: </span><br><br>
      <button type="button" class="btn btn-primary" (click)="changePasswordDialog()">Zmień hasło</button>
    </div>
    <div class="col-6 col-sm-8 right">
      <span>{{user.getUsername()}}</span><br>
      <span>{{user.getEmail()}}</span><br>
      <span>{{user.getFirstName()}}</span><br>
      <span>{{user.getLastName()}}</span><br>
      <span>{{user.getAddress()}}</span><br>
      <span>{{user.getCity()}}</span><br>
      <span>{{user.getTelephoneNumber()}}</span><br>
      <span>{{user.getLastLogin()}}</span><br><br>
      <button type="button" class="btn btn-primary" (click)="changeDetailsDialog()">Zmień dane</button>
    </div>
  </div>
  <div *ngIf="isFancier">
    <h5>Dane hodowcy</h5>
    <div class=row>

      <div class="col-6 col-sm-4 left">
        <span>Sekcja: </span><br>
        <span>ID gołębnika: </span><br>
        <span>Nazwa drużyny: </span><br>
        <span>Nr hodowcy: </span><br>
      </div>
      <div class="col-6 col-sm-8 right">
        <span>{{user.getIdSection()}}</span><br>
        <div *ngIf="user.getIdDovecote() == null; then nodov else dov"></div>
        <ng-template #dov><span>{{user.getIdDovecote()}}</span><br></ng-template>
        <ng-template #nodov><span>Brak gołębnika</span><br></ng-template>

        <span>{{user.getTeamName()}}</span><br>
        <span>{{user.getFancierNumber()}}</span><br>
      </div>
    </div>
  </div>
  <div *ngIf="isCalculator">
    <h5>Dane rachmistrza</h5>
    <div class=row>
      <div class="col-6 col-sm-4 left">
        <span>Oddziały do których masz dostęp: <br></span>
      </div>
      <div class="col-6 col-sm-8 right">
        <br>
        <div *ngFor="let branch of branchList">
          {{branch.name}}
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <p-dialog header="Zmiana hasła" [(visible)]="isChangingPassword" [contentStyle]="{'width':'400px'}" [modal]="true">
    <div class=row>
      <div class=col-6>
        <label class="first" style="margin-bottom: 0px; margin-top: 7px;">Aktualne hasło</label>
      </div>
      <div class=col-6>
        <input [feedback]="false" pPassword type="password" [(ngModel)]="oldPassword" />
      </div>
    </div>
    <br>
    <div class=row>
      <div class=col-6>
        <label class="first" style="margin-bottom: 0px; margin-top: 7px;">Nowe hasło</label>
      </div>
      <div class=col-6>
        <input promptLabel="Wpisz hasło" weakLabel="Słabe" mediumLabel="Średnie" strongLabel="Silne" pPassword type="password"
          [(ngModel)]="newPassword" />
      </div>
    </div>
    <br><br>
    <div class=row>
      <div class=col-6>
        <button type="button" class="btn btn-secondary" (click)="changePasswordDialog()">Cofnij</button>
      </div>
      <div class=col-6>
        <button style="float: right;" type="button" class="btn btn-primary" (click)="changePassword()">Zmień</button>
      </div>
    </div>
  </p-dialog>

  <p-dialog header="Zmiana danych" [(visible)]="isChangingDetails" [contentStyle]="{'width':'400px'}" [modal]="true">
    <table style="width: 100%">
      <tr>
        <td style="width: 35%;">
          <span>Login</span>
        </td>
        <td style="width: 65%;">
          <input pKeyFilter="alphanum" style="width: 100%;float: right;" type="text" class="form-control" [(ngModel)]="username">
        </td>
      </tr>
      <tr>
        <td style="width: 35%;">
          <span>Imię</span>
        </td>
        <td style="width: 65%;">
          <input pKeyFilter="alpha" style="width: 100%;float: right;" type="text" class="form-control" [(ngModel)]="firstName">
        </td>
      </tr>
      <tr>
        <td style="width: 35%;">
          <span>Nazwisko</span>
        </td>
        <td style="width: 65%;">
          <input pKeyFilter="alpha" style="width: 100%;float: right;" type="text" class="form-control" [(ngModel)]="lastName">
        </td>
      </tr>
      <tr>
        <td style="width: 35%;">
          <span>Adres</span>
        </td>
        <td style="width: 65%;">
          <input pKeyFilter="alphanum" style="width: 100%;float: right;" type="text" class="form-control" [(ngModel)]="address">
        </td>
      </tr>
      <tr>
        <td style="width: 35%;">
          <span>Miasto</span>
        </td>
        <td style="width: 65%;">
          <input pKeyFilter="alpha" style="width: 100%;float: right;" type="text" class="form-control" [(ngModel)]="city">
        </td>
      </tr>
      <tr>
        <td style="width: 35%;">
          <span>Telefon</span>
        </td>
        <td style="width: 65%;">
          <input pKeyFilter="num" style="width: 100%;float: right;" type="text" class="form-control" [(ngModel)]="telephoneNumber">
        </td>
      </tr>
    </table>
    <br><br>
    <div>
      <button style="float: right;" type="button" class="btn btn-primary" (click)="changeDetails()">Zmień</button>
      <button type="button" class="btn btn-secondary" (click)="changeDetailsDialog()">Cofnij</button>
    </div>

  </p-dialog>

</div>
