<p-dialog header="Zmiana hasła" [(visible)]="isVisible" [contentStyle]="{'width':'400px'}">
  <div class=row>
    <div class=col-6>
      <label class="first" style="margin-bottom: 0px; margin-top: 7px;">Nowe hasło</label>
    </div>
    <div class=col-6>
      <input [feedback]="false" pPassword type="password" [(ngModel)]="newPassword" />
    </div>
  </div>
  <br>
  <div class=row>
    <div class=col-6>
      <label class="first" style="margin-bottom: 0px; margin-top: 7px;">Nowe hasło</label>
    </div>
    <div class=col-6>
      <input promptLabel="Wpisz hasło" weakLabel="Słabe" mediumLabel="Średnie" strongLabel="Silne" pPassword type="password"
        [(ngModel)]="copyNewPassword" />
    </div>
  </div>
  <br><br>
  <div class=row>
    <div class=col-6>
      <button style="float: right;" type="button" class="btn btn-primary" (click)="changePassword()">Zmień</button>
    </div>
  </div>
</p-dialog>
