<div class=bg-second>
  <span>IDove, to serwis utworzony dla hodowców gołębi pocztowych</span><br>
  <div style="width: 100%; height:auto; margin-top: 10px;">
    <img src="../../../assets/images/mainpage.jpg" style="width: 100%; height:auto">
  </div>
</div>
