<div id="content">
  <div id="logo">
    <h1><img width="100" style="vertical-align: bottom;" src="../../../assets/images/logo.png"> IDove</h1>
  </div>
  <div>
    <input pKeyFilter="alphanum" type="text" name="username" id="username" [(ngModel)]="username" placeholder="nazwa użytkownika" required="required" />
    <input type="password" name="password" placeholder="hasło" [(ngModel)]="password" required="required" />
    <input type="submit" class="btn btn-primary" value="Zaloguj się" (click)="login()" [disabled]="this.user.isLoginDisabled" />
    <button type="button" class="btn btn-outline-secondary" routerLink="/registration">Utworz konto</button>
    <button type="button" class="btn btn-outline-secondary" (click)="enablePasswordForgot()">Odzyskiwanie hasła</button>

    <p-dialog header="Odzyskiwanie hasła" [(visible)]="passwordForgot" [contentStyle]="{'width':'500px'}" [modal]="true">
      <div>
        <label class="first" style="text-align: justify;">W celu przypomnienia hasła podaj adres e-mail użyty podczas
          rejestracji. Zostanie wysłany na niego link z możliwością zresetowania obecnego hasła</label>
        <div>
          <input style="width: 470px; margin: 0 auto;" type="email" class="form-control" [(ngModel)]="email" /><br>
        </div>
      </div>
      <br>
      <div>
        <button style="float: right;" type="button" class="btn btn-primary" (click)="sendPasswordLink()">Zmień</button>
        <button style="float: left;" type="button" class="btn btn-secondary" (click)="closePasswordDialog()">Cofnij</button>
      </div>
    </p-dialog>
  </div>
</div>
