#content{
  background-color: #ffffff;
  width: 500px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(220,220,220,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(220,220,220,0.75);
  box-shadow: 10px 10px 5px 0px rgba(220,220,220,0.75);
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

#logo{
  margin-top: 20px;
  letter-spacing: 5px;
}

h1{
  color:#007bff;
  font-size: 55px;
  font-weight: 900;
 /* text-shadow: 2px 2px 7px #000000;*/
  margin-left: auto;
  margin-right: auto;
}

input[type=text],input[type=password]{
  width: 400px;
  background: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 15px;
}

input[type=text]:focus,
input[type=password]:focus{
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
  border: 2px solid #006aee;
  background-color: white;
  color: black;
}

input[type=submit]{
  width: 400px;
  background:#007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 10px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  margin-top: 40px;
  margin-bottom: 10px;
}

input[type=submit]:focus{
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
}

input[type=submit]:hover{
  background-color: #006aee;
}
