<p-dataView [value]="sortedFancierList" [emptyMessage]="'Pusto :('" [loading]="this.calculator.isLoading">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div>
          <button class="container" (click)="enableAddingFancier()" type="button" class="btn btn-primary">Dodaj
            hodowców
          </button>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <p-dropdown [options]="sectionList" [(ngModel)]="selectedSection" (onClick)="getSectionList()" (onChange)="onSortChange(selectedSection)"
                      placeholder="Wybierz sekcję" [showClear]="true" [style]="{'width':'200px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>

  <ng-template let-fancier pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-8 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Imię i nazwisko:</div>
          <div class="ui-g-10 ui-sm-6"><b>{{fancier.user.firstName}} {{fancier.user.lastName}}</b></div>

          <div class="ui-g-2 ui-sm-6">Sekcja:</div>
          <div class="ui-g-10 ui-sm-6"><b>{{fancier.section.name}}</b></div>


        </div>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="pi pi-search" (click)="selectFancier($event, fancier)"></button>
      </div>
    </div>
  </ng-template>

  <ng-template let-fancier pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="fancier.user.firstName +' '+ fancier.user.lastName" [style]="{'text-align':'center'}">
        <div class="car-detail">{{fancier.section.name}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-search" (click)="selectFancier($event, fancier)"
                style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="Dodawanie hodowcy do oddziału" [(visible)]="isAdding" [modal]="true"
          [contentStyle]="{'width':'400px','height':'600px'}">

  <div style="width: 100%; float: left; margin-bottom: 20px;">
    <label>Adres e-mail użytkownika:</label>
    <p-autoComplete [(ngModel)]="selectedUser" field="email" [suggestions]="results" (completeMethod)="search($event)"
                    [minLength]="2"></p-autoComplete>
    <label>Wybrany użytkownik : {{selectedUser.firstName}} {{selectedUser.lastName}} </label>
  </div>
  <div style="width: 100%; float: left">
    <p-dropdown [options]="sectionList" [(ngModel)]="selectedSectionInAdding" (onClick)="getSectionList()"
                placeholder="Wybierz sekcję" [showClear]="true" [style]="{'width':'200px'}"></p-dropdown>
    <br>
    <label>Numer hodowcy:</label>
    <input type="text" pKeyFilter="pnum" class="form-control" id="brnum" [(ngModel)]="fancierNumber">
    <button class="btn btn-primary" routerLink="/c-fancier" (click)="addFancier()">Dodaj hodowcę</button>
  </div>
</p-dialog>


<p-dialog header="Szczegóły hodowcy" [(visible)]="isInfo" [responsive]="true" [modal]="true" width="500">
  <div *ngIf="selectedFancier" style="text-align:center">
    <div >
      <span><strong>{{selectedFancier.user.firstName}} {{selectedFancier.user.lastName}}</strong></span>
    </div>
    <div>
      <span>Adres </span>
      <span>{{selectedFancier.user.city}}, {{selectedFancier.user.address}}</span><br>
    </div>
    <div *ngIf="selectedFancier.teamName !=null && selectedFancier.teamName!= ''">
      <span>Nazwa drużyny: </span>
      <span>{{selectedFancier.teamName}}</span><br>
    </div>
    <div *ngIf="selectedFancier.fancierNumber !=null && selectedFancier.fancierNumber!= ''"></div>
    <span>Numer hodowyc: </span>
    <span>{{selectedFancier.fancierNumber}}</span><br>
    <div></div>
    <span>Nr telefonu: </span>
    <span>{{selectedFancier.user.telephoneNumber}}</span><br>
    <div></div>
    <span>Adres E-mail: </span>
    <span>{{selectedFancier.user.email}}</span><br>
    <div></div>
    <span>Ostatnio zalogowany: </span>
    <span>{{selectedFancier.user.lastLogin}}</span><br>
  </div>

</p-dialog>
